<nav class="navbar">
    <div class="navbar-brand">
        <a class="title navbar-item" href="{{url_for('index')}}">Text Gen</a>
        <span class="navbar-burger" data-target="navbar-burger-target">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div class="navbar-menu" id="navbar-burger-target">
        <div class="navbar-end">
            {% if navbar_type == 'home' %} 
                <div class="navbar-item">
                    <a class="button is-link" href="{{url_for('auth.signin')}}">Sign In</a>
                </div>
                <div class="navbar-item">
                    <a class="button is-link" href="{{url_for('auth.signup')}}">Sign Up</a>
                </div>
            {% else %} 
                <div class="navbar-item">
                    <a class="button is-link" href="{{url_for('index')}}">Home</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>